<!-- ================================
     ABOUT SECTION
     ================================ -->
<section id="about" class="py-35 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
  <div class="text-center mb-16" data-aos="fade-up">
    <h2 class="text-4xl sm:text-6xl font-heading font-bold mb-4 gradient-text  font-heading">
      Sobre <span class="gradient-text">Mi</span>
    </h2>
  </div>

  <div class="grid md:grid-cols-5 gap-12 items-stretch ">
    <!-- Image -->
    <div class="md:col-span-2" data-aos="fade-right" data-aos-delay="200">
      <div class="relative h-full">
        <div class="card-about h-full p-4">
          <img src="public/img/kevinport.png" alt="Kevin trabajando"
            class="w-full h-96 object-cover object-top rounded-xl opacity-60 " />
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="md:col-span-3" data-aos="fade-left" data-aos-delay="300">
      <p class="text-white/60 mb-6 leading-relaxed">
        Soy egresado en Ingeniería de Sistemas con interés en el desarrollo de software y la creación de aplicaciones
        web que aporten soluciones a problemas reales.
      </p>
      <p class="text-white/60 mb-8 leading-relaxed">
        Entre mis principales proyectos se encuentra Gears Cars, un sistema web de gestión para un taller eléctrico
        automotriz desarrollado como parte de mi formación, además de haber participado en la implementación y
        personalización de sitios web con WordPress.
      </p>
      <p class="text-white/60 mb-8 leading-relaxed">
        Actualmente continúo fortaleciendo mis conocimientos en tecnologías Frontend modernas para crear interfaces
        funcionales, intuitivas y con una experiencia de usuario de calidad.
      </p>

      
      <div class="grid grid-cols-2 gap-4">
        <div class="card-about p-4 text-center">
          <div class="text-xl font-heading font-bold gradient-text mb-1">🎓 Formacion</div>
          <div class="text-white/50 text-sm">Ingeniería de Sistemas</div>
        </div>
        <div class="card-about p-4 text-center">
          <div class="text-xl font-heading font-bold gradient-text mb-1">🚗 Proyecto Destacado</div>
          <div class="text-white/50 text-sm">Gears Cars</div>
        </div>
        <div class="card-about p-4 text-center">
          <div class="text-xl font-heading font-bold gradient-text mb-1">📚 Aprendizaje</div>
          <div class="text-white/50 text-sm">En constante evolución</div>
        </div>
        <div class="card-about p-4 text-center">
          <div class="text-xl font-heading font-bold gradient-text mb-1">💡Objetivo</div>
          <div class="text-white/50 text-sm">Crear soluciones web funcionales</div>
        </div>
      </div>
    </div>
  </div>

</section>