<!-- ================================
     ABOUT SECTION
     ================================ -->
<section id="about" class="py-30 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
  <div class="text-center mb-16" data-aos="fade-up">
    <h2 class="text-4xl sm:text-5xl font-heading font-bold mb-4 gradient-text  font-heading">
      Sobre <span class="gradient-text">Mi</span>
    </h2>
  </div>

  <div class="grid md:grid-cols-2 gap-12 items-stretch">
    <!-- Image -->
    <div data-aos="fade-right" data-aos-delay="200">
      <div class="relative h-full">
          <div class="glass-card h-full p-4 rounded-2xl">
          <img src="src/assets/img/kevinport.png"
               alt="Kevin trabajando"
               class="w-full h-125 object-cover object-top rounded-xl"
          />
        </div>
      </div>
    </div>

    <!-- Content -->
    <div data-aos="fade-left" data-aos-delay="300">
      <p class="text-white/60 mb-6 leading-relaxed">
        Soy un joven Ingeniero de Sistemas apasionado por la tecnología
				y el desarrollo web. Me gusta crear páginas y aplicaciones que
				sean útiles, rápidas y fáciles de usar. 
      </p>
      <p class="text-white/60 mb-8 leading-relaxed">
        Siempre estoy
				aprendiendo cosas nuevas para mejorar mis proyectos y ofrecer
				mejores soluciones.
      </p>

      <!-- Info Cards
      <div class="grid grid-cols-2 gap-4">
        <div class="glass-card p-4 text-center">
          <div class="text-3xl font-bold gradient-text mb-1">+10</div>
          <div class="text-white/50 text-sm">Proyectos</div>
        </div>
        <div class="glass-card p-4 text-center">
          <div class="text-3xl font-bold gradient-text mb-1">+5</div>
          <div class="text-white/50 text-sm">Clientes</div>
        </div>
        <div class="glass-card p-4 text-center">
          <div class="text-3xl font-bold gradient-text mb-1">100%</div>
          <div class="text-white/50 text-sm">Compromiso</div>
        </div>
        <div class="glass-card p-4 text-center">
          <div class="text-3xl font-bold gradient-text mb-1">24/7</div>
          <div class="text-white/50 text-sm">Disponibilidad</div>
        </div>
      </div> -->
    </div>
  </div>
</section>

